
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1501923730156'); /* IE9*/
  src: url('iconfont.eot?t=1501923730156#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1501923730156') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1501923730156') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1501923730156#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenjian:before { content: "\e681"; }

.icon-xiaoqizi:before { content: "\e64a"; }

.icon-biaodan:before { content: "\e609"; }

.icon-4arrow:before { content: "\e606"; }

.icon-biaogezhankai:before { content: "\e677"; }

.icon-weixin:before { content: "\e60b"; }

.icon-text-copy:before { content: "\e625"; }

.icon-shuqian:before { content: "\e619"; }

.icon-labelb:before { content: "\e61a"; }

.icon-shiyanjianceguanli:before { content: "\e72f"; }

.icon-setting:before { content: "\e656"; }

.icon-chajianleixinghuiyuanbanqiajiangli60:before { content: "\e76d"; }

.icon-xinfeng-copy:before { content: "\e604"; }

.icon-leaf:before { content: "\e501"; }

.icon-wuxian:before { content: "\e7f8"; }

.icon-qita:before { content: "\e687"; }

.icon-jiantou1:before { content: "\e51b"; }

.icon-dashboard:before { content: "\e6b3"; }

.icon-xiangce:before { content: "\e64e"; }

.icon-chilun:before { content: "\e9e3"; }

.icon-fangzi:before { content: "\e9f3"; }

.icon-xiazai1-copy-copy:before { content: "\e504"; }

.icon-jingling:before { content: "\e607"; }

.icon-sanjiaoxingshixin:before { content: "\e7d3"; }

.icon-shanchu:before { content: "\e63b"; }

.icon-arrow:before { content: "\e502"; }

.icon-qicheqianlian-:before { content: "\e618"; }

.icon-zhuzhuangtu:before { content: "\e6d1"; }

.icon-chuyidong:before { content: "\e617"; }

.icon-rili:before { content: "\e6db"; }

.icon-pre_down:before { content: "\e60c"; }

.icon-manpower:before { content: "\e6fe"; }

.icon-UI:before { content: "\e622"; }

.icon-xingzhuang60kaobei2:before { content: "\e50d"; }

.icon-jinggao:before { content: "\e61b"; }

.icon-birdxiaoniao1-copy:before { content: "\e506"; }

.icon-flyme_icon-:before { content: "\e67e"; }

