/*--header--*/
.header{
  width:100%;
  min-height: 45px;
  background:#438eb9;
  color:#fff;
  .header-l{
    font-size: 24px;
    padding-left:15px;
    width: auto;
    height: 100%;
    .title{
      font-size: 24px;
    }
    .iconfont1{
      font-size: 24px;
    }
  }
  .header-r{
    font-size: 16px;
    width: auto;
    height: 100%;
    .header-r-u{
      width:100%;
      height: 45px;
      display: flex;
      justify-content:flex-end;
      align-items: center;
      padding-right:15px;
      li{
        min-width: 50px;
        height: 100%;
        line-height: 45px;
        padding:0 8px;
        border-right:1px solid #fff ;
        display: flex;
        justify-content: center;
        align-items: center;
        .iconfont{
          font-size: 17px !important;
        }
        span{
          display: inline-block;
          width:17px;
          height:19px;
          text-align: center;
          position: relative;
          line-height: 19px;
          font-size: 14px;
          border-radius: 50%;
          left:4px ;
        }
        .num{
          background:#a0a0a0;
        }
        .num1{
          background:#d15b47;
        }
        .num2{
          background:#82af6f;
        }

      }
      li.header-u-l1{
        background:#555555;
      }
      li.header-u-l2{
        background:#892e65;
      }
      li.header-u-l3{
        background:#2e8965;
      }
      .header-u-last{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding-right:10px;
          background:#62a8d1;
          border:0;
        .header-u-last-img{
          border-radius: 100%;
          border: 2px solid #FFF;
          max-width: 40px;
          margin: -4px 8px 0 0;
        }
        .header-u-last-s{
          max-width: 100px;
          width: auto;
          display: inline-block;
          overflow: hidden;
          height:100%;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-align: left;
          vertical-align: top;
          line-height: 15px;
          border-radius: 0 !important;
          padding-top:8px;
            small{
              font-size: 85%;
            }
        }
        .header-u-last-s1{
          display: inline-block;
          width:0;
          height: 0;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-top: 7px solid #fff;

        }
      }
    }
  }
}
/*----market----*/
.market{
  width:100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  .market-left{
    width:190px;
    min-height:1000px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    .market-left-top{
      background-color: #fafafa;
      border-bottom: 1px solid #ddd;
      text-align: center;
      line-height: 39px;
      max-height: 41px;
      margin-bottom: 0;
      height: auto;
      .market-left-top-c{
        padding-bottom: 4px;
        button{
          width: 41px;
          line-height: 24px;
          margin-top: -2px;
          padding: 0;
          border-width: 4px;
          text-align: center;
          color:#fff;
        }
        .bu1{
          background-color: #629b58!important;
          border-color: #87b87f;
        }
        .bu2{
          background-color: #6fb3e0!important;
          border-color: #6fb3e0;
        }
        .bu3{
          background-color: #ffb752!important;
          border-color: #ffb752;
        }
        .bu4{
          background-color: #d15b47!important;
          border-color: #d15b47;
        }
      }
    }
    .market-left-u{
      width:100%;
      height: auto;
      margin:0 auto;
      background-color: #fff;
      li{
        border-bottom: 1px solid #e5e5e5;
        height: 38px;
        line-height: 36px;
        padding: 0 16px 0 7px;
        i{
          display: inline-block;
          vertical-align: middle;
          min-width: 30px;
          text-align: center;
          font-size: 20px;
          margin-right: 2px;
        }
        span{
          font-size:13px;
        }
      }
    }
    .market-left-d{
      border-bottom: 1px solid #e0e0e0;
      background-color: #f3f3f3;
      text-align: center;
      padding: 3px 0;
      position: relative;
      span{
        display: inline-block;
        cursor: pointer;
        font-size: 14px;
        color: #aaa;
        border: 1px solid #bbb;
        padding: 0 5px;
        line-height: 18px;
        border-radius: 50%;
        background-color: #fff;
      }
    }
    .market-left-d:before{
      content: "";
      display: inline-block;
      height: 0;
      border-top: 1px solid #e0e0e0;
      position: absolute;
      left: 15px;
      right: 15px;
      top: 13px;
    }
  }
  .market-right{
    width:85%;
    height: auto;
    background:#FFFFFF;
    .market-right-t{
      border-bottom: 1px solid #e5e5e5;
      background-color: #f5f5f5;
      min-height: 41px;
      padding: 0 12px 0 0;
      display: flex;
      width:100%;
      justify-content: space-between;
      align-items: center;

      .market-right-t-u{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 22px 0 12px;
        width:100%;
        li{
          padding:0 5px;
        }
        .index{
          color: #4c8fbd;
        }
      }
      .market-right-t-f{
        border: 1px solid #6fb3e0;
        width: 152px;
        height: 28px!important;
        border-radius: 4px!important;
        font-size: 13px;
        color: #666!important;
        z-index: 11;
        padding-left:5px;
        background:#fff;
        input{
          width:100%;
          height:100%;
          padding-left:20px;
          background:url("../images/2017-08-02_111833.png") no-repeat left center;
        }
      }
    }
    .market-right-c{
      width:97%;
      margin:0 auto;
      height:auto;
      display: flex;
      flex-direction: column;
      .market-right-c-u{
        width: 100%;
        margin-top:10px;
        height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        border-bottom: 1px dashed #ccc;
        color:#8089a0;
        .control{
          font-size:24px;
          color: #2679b5;
          padding-right: 20px;
        }
      }
      .market-right-c-u1{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        border:1px solid #d6e9c6;
        margin-top:10px;
        padding: 15px;
        background-color: #dff0d8;
        color: #468847;
        .cha{
          font-weight: bold;
          cursor: pointer;
        }
      }
      .tubiao{
        width:100%;
        height: auto;
        display: flex;
        flex-direction: column;
        .tubiao-u{
          width:100%;
          height: auto;
          display: flex;
          justify-content: flex-end;
          margin-bottom: 20px;
          li{
            height:286px;
          }
          .tubiao-u-l1{
            width: 60% ;
            padding:0 10px;
            .tubiao-u-l1-cont{
              width:90% !important;
              height:100%;
              margin:0 auto;
              .tubiao-u-l1-cont-u{
                width:100%;
                height: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                margin-top:10px;
                li{
                  width:50%;
                  height:66px;
                  display: flex;
                  justify-content: space-between;
                  border:1px dotted #ccc;
                  align-items: center;
                  padding: 8px 3px 6px 9px;
                  margin-top:-1px;
                  .title{
                    display: flex;
                    flex:1;
                    padding-left: 8px;
                    flex-wrap: wrap;
                    .title-top{
                      width:100%;
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      .num{
                        font-size:20px;
                        color:#aeca5b;
                      }
                      .sp1n{
                        padding-right:20px;
                        font-size:13px;
                        color:#77c646;
                        font-weight: bold;
                        background:url("../images/2017-08-02_201540.png") no-repeat right center;
                      }
                      .sp1n1{
                        color:#e4564f;
                        background:url("../images/2017-08-02_203718.png") no-repeat right center;
                      }
                    }
                    .pinglunb{
                      width:100%;
                    }
                  }
                }
              }
              .tubiao-u-l1-cont-u1{
                width:100%;
                padding:0 10px;
                display:flex;
                height:52px;
                margin:12px auto;
                justify-content: space-between;
                align-items: center;
                li{
                  width:33.33%;
                  height:100%;
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  border-right:1px solid #fff;
                  padding: 4px;
                  color:#fff;
                  font-weight: bold;
                }
                .li1{
                  background:#9abc32;
                }
                .li2{
                  background:#6fb3e0;
                }
                .li3{
                  background:#999999;
                }
              }
            }
          }
          .tubiao-u-l2{
            width: 40%;
            height: 260px;
            border:1px solid #ccc;
            .tubiao-u-l2-top{
              width: 100%;
              min-height: 31px;
              padding:0 10px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              border-bottom: 1px solid #ccc;
              background:#f7f7f7;
              li{
                height:100%;
              }
              .laiyuan{
                font-size:15px;
                font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
                color: #669fc7;
              }
              .benzhou{
                width:50px;
                height: 22px;
                line-height: 22px;
                color:#fff;
                background:#428bca;
                cursor: pointer;
                text-align: center;
              }
            }
            .tubiao-u-l2-mian{
              width:100%;
              height:227px;
              padding:12px;
              .bingtu{
                width:100%;
                height:150px;
              }
              .hr-double{
                margin: 8px 0;
                height: 3px;
                border-top: 1px solid #e3e3e3;
                border-bottom: 1px solid #e3e3e3;
              }
              .clearfix{
                width:100%;
                height:40px;
                display: flex;
                justify-content: flex-start;
                .grid3{
                  width:33%;
                  padding:0 2%;
                  height:100%;
                  border-right:1px solid #ccc;
                  display: flex;
                  justify-content: flex-start;
                  align-items:stretch;
                  .grid3-img{
                    padding-right:10px;
                  }
                  .gird3-text{
                    color: #777 !important;
                    padding-right:5px;
                  }
                  .gird3-num{
                    font-size:19px;
                  }
                }
                .grid4{
                  border:0;
                }
              }
            }
          }
        }
        .hr-dotted{
          width:100%;
          margin: 32px 0;
          height:1px;
          border-top:1px dashed #ccc;
        }
        .tubiao-u2{
          width:100%;
          height: auto;
          display: flex;
          justify-content: flex-end;
          margin-bottom: 20px;
          .tubiao-u2,.zheXian{
            width:50%;
          }
          li{
            height:287px;
            padding:0 10px;
            .remen-top{
              display: flex;
              justify-content: space-between;
              align-items: center;
              height:39px;
              border-bottom: 1px solid #dce8f1;
              h3{
                font-weight: lighter;
                font-size: 18px;
                color: #4383b4;
                .ico{
                  color:#ff892a;
                  padding-right:10px;
                }
              }
              .xiaLa{
                height:35px;
                width:35px;
                line-height: 39px;
                text-align: center;
                border-left: 1px solid #ccc;
                cursor: pointer;
              }
            }
            .remen-cont{
              width:100%;
              height:248px;
              .table-striped{
                width:100%;
                height:100%;
                border-collapse:collapse;
                thead,tbody{
                  width:100%;
                  height: auto;
                  text-align: left;
                  th,td{
                    border-right:1px solid #ccc;
                    text-indent: 10px;
                    height:30px;
                  }
                  .last{
                    border:0;
                    text-align: left;
                    text-indent:15px;
                    span{
                      display:inline-block;
                      font-size: 12px;
                      line-height:20px;
                      text-align: center !important;
                      height: 20px;
                      color:#fff;
                      background:#3a87ad;
                    }
                    .span1{
                      background:#3a87ad;
                      position: relative;
                    }
                    .span1::before{
                      position: absolute;
                      left:-5px;
                      content: "";
                      display: inline-block;
                      border-width: 10px 5px;
                      border-color: #3a87ad;
                      border-left-color: transparent!important;
                      top: 0;
                      z-index: -1;
                      border: 1px solid transparent;
                    }
                    .span1::after{
                      right: -10px;
                      border-width: 10px 5px;
                      border-left-color: red;
                      display: inline-block;
                      content: "";
                      position: absolute;
                      top: 0;
                      z-index: -1;
                      border: 1px solid transparent;
                    }
                  }
                  tr{
                    border-bottom: 1px solid #ccc;
                  }
                }
                tbody tr:nth-of-type(odd){
                  background:#f9f9f9;
                }
              }
            }
          }
          .zheXian{
            .zheXian-cont{
              width:100%;
              height:220px;
              margin-top:5px;
            }
          }
        }
        .tubiao-u1{
          width: 100%;
          height: auto;
          display: flex;
          justify-content: space-between;
          li{
            width:50%;
            height: 355px;
            position: relative;
            min-height: 1px;
            padding-right: 12px;
            padding-left: 12px ;
          }
          /*------tubiao-u1-box-------*/
          .tubiao-u1-box{
            width:100%;
            height: auto ;
            position: relative;
            .tubiao-u1-box-top{
              width:100%;
              height:39px;
              border-bottom: 1px solid #dce8f1;
              display: flex;
              justify-content: space-between;
              align-items: center;
              h4{
                font-size:17px;
                font-weight: normal;
                color: #4383b4;
              }
              .xuan{
                display: flex;
                justify-content: flex-end;
                width: auto;
                height: 100%;
                align-items: center;
                li{
                  height:100%;
                  cursor: pointer;
                  margin-bottom: -1px;
                  width:60px;
                  line-height: 38px;
                }
                .active{
                  border-right: 1px solid #c5d0dc;
                  border-left: 1px solid #c5d0dc;
                  background-color: #FFF;
                  border-top:2px solid #4c8fbd;;
                }
              }
            }
            .tubiao-u1-box-c{
              padding:4px;
              width: 100%;
              height: auto;
              .box1{
                padding: 8px 6px;
                height: auto;
                width: 100%;
                h2{
                  font-size:17px;
                  color: #69aa46!important;
                  font-weight: normal;
                }
                .box1-u{
                  width:100%;
                  height: auto;
                  display: flex;
                  align-items: center;
                  flex-direction:column;
                  li{
                    padding:9px;
                    width: 100%;
                    height: auto;
                    border: 1px solid #ccc;
                    margin-top:-1px;
                    display: flex;
                    align-items: center;
                    margin-left:-1px ;
                    border-left:0 ;
                    input{
                      width:18px;
                      height: 18px;
                      background:#fff;
                      cursor: pointer;
                      color: #32a3ce;
                      border:none;
                    }
                  }
                  .li1{
                    border-left:3px solid  #e8b110;
                  }
                  .li2{
                    border-left:3px solid  #d53f40;
                  }
                  .li3{
                    border-left:3px solid  #4f99c6;
                  }
                  .li4{
                    border-left:3px solid  #abbac3;
                  }
                  .li5{
                    border-left:3px solid  #DDD;
                  }
                  .li6{
                    border-left:3px solid  #9abc32;
                  }
                  .li7{
                    border-left:3px solid  #4f99c6;
                  }
                }
              }
              .box2{
                padding: 8px 6px;
                height: auto;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                position: absolute;
                top:39px;
                .box2-item{
                  width:40%;
                  padding: 2px;
                  margin: 3px 0;
                  float: left;
                  border-bottom: 1px solid #ccc;
                  min-height: 66px;
                  display: flex;
                  justify-content: flex-start;
                  .user{
                    width:auto;
                    height: auto;
                    img{
                      width:42px;
                      border:2px solid #ccc;
                      border-radius: 50%;
                    }
                  }
                  .body{
                    width: auto;
                    margin-left: 10px;
                    margin-right: 12px;
                    position: relative;
                    .name{
                      line-height: 18px;
                      height: 18px;
                      margin-bottom: 0;
                      a{
                        display: inline-block;
                        max-width: 100px;
                        max-height: 18px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        word-break: break-all;
                        color: #428bca;
                      }
                    }
                    .time{
                      font-size: 11px;
                      font-weight: bold;
                      color: #69aa46;
                    }
                    .box2-item-d{
                      display: flex;
                      justify-content: flex-start;
                      .label{
                        padding: .2em .4em .3em;
                        font-size: 11px;
                        line-height: 1;
                        height: 18px;
                        background-color: #f89406!important;
                        color:#fff;
                      }
                      .position-relative{margin-left:5px;}
                      .icon{
                        background-color: #fee188!important;
                        border-color: #fee188;
                        padding: 0 4px;

                        .iconfont{
                          font-size:13px;
                          color: #963!important;
                        }
                      }
                    }
                  }
                }
                .box2-bottom{
                  width:100%;
                  display: inline-block;
                  text-align: center;
                  a{
                    color: #2a6496;
                  }
                  .iconfont{
                    color: #69aa46!important;
                  }
                }
                .box2-bottom1{
                  width:100%;
                  margin-top:8px;
                  height:3px;
                  border-top:1px solid #ccc;
                  border-bottom: 1px solid #ccc;
                }
              }
              .box3{
                padding: 8px 6px;
                height: auto;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                position: absolute;
                top:39px;
                .box3-item{
                  width:100%;
                  height: auto;
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  padding-right: 3px;
                  min-height: 66px;
                  .user1{
                    width:auto;
                    height: auto;
                    img{
                      width:40px;
                      height:40px;
                      border-radius: 50%;
                      border:2px solid #fff;
                    }
                  }
                  .text{
                    width:auto;
                    height:100%;
                    padding-left:10px;
                    border-bottom: 1px solid #ccc;
                    .name{
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      .sp1{
                        color:#428bca;
                      }
                      .sp2{
                        color: #69aa46;
                        font-weight: bold;
                      }
                    }
                  }
                }
              }
            }
          }
          /*-huihua-*/
          .huiHua{
            width:100%;
            height: 399px ;
            border:1px solid #ccc;
            position: relative;
            .huiHua-top{
              min-height: 39px;
              border-bottom: 1px solid #ccc;
              line-height: 39px;
              background:#f3f3f3;
              position: relative;
              color: #669fc7;
              text-indent: 10px;
              font-size:17px;
              top:0;
            }
            .huiHua-c{
              width:100%;
              height:300px;
              overflow:scroll ;
              padding:9px 9px 0;
              .huiHua-c-item{
                padding-bottom: 14px;
                position: relative;
                display: flex;
                min-height: 66px;
                justify-content: flex-start;
                align-items: center;
                .user{
                  width:42px;
                  height:55px;
                  z-index: 999;
                  img{
                    border-radius: 50%;
                    border:2px solid #ccc;
                  }
                }
                .body{
                  margin-left:10px;
                  flex:1;
                  border:1px solid #dde4ed;
                  padding:0 10px;
                  position: relative;
                  .name{
                    display: flex;
                    justify-content: space-between;
                    .spqn1{
                      color: #428bca;
                    }
                    .spqn2{
                      color: #69aa46!important;
                    }
                  }
                }
                .body:before{
                  content: "";
                  display: block;
                  position: absolute;
                  left: -7px;
                  top: 11px;
                  width: 8px;
                  height: 8px;
                  border: 2px solid #dde4ed;
                  background-color: #FFF;
                  box-sizing: content-box;
                  transform: rotate(-45deg);
                }
              }
              .huiHua-c-item:before{
                position: absolute;
                display: block;
                content: "";
                top: 0;
                bottom: 0;
                left: 19px;
                width: 3px;
                max-width: 3px;
                background-color: #e1e6ed;
              }
              div:last-child:before{
                display: none;
              }
            }
            .huiHua-b{
              width:100%;
              height:57px;
              border-top:1px solid #ccc;
              padding:10px;
              display: flex;
              justify-content: space-between;
              input{
                height:100%;
              }
              .inpout1{
                width:80%;
                border-top:1px solid #ccc;
                border-left:1px solid #ccc;
                border-bottom:1px solid #ccc;
                text-indent: 10px;
              }
              .inpout2{
                width:20%;
                border-top:2px solid #ccc;
                border-right:2px solid #ccc;
                border-bottom:2px solid #ccc;
                background:#6fb3e0;
                color:#fff;
                cursor:pointer;
              }
              .inpout2:hover{
                background-color: #6fb3e0!important;
                border-color: #6fb3e0;

              }
            }
          }
        }
      }
    }
  }
}

@media  screen and (min-width:992px ) {
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

@media (max-width:992px ) and(min-width: 768px) {
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .market-left{
    display: none;
  }
  .market-right{
    width:100% !important;
    height: auto;
    background:#FFFFFF;
    overflow: hidden;
  }
  .market-right-t-u{
    justify-content: flex-start !important;

  }

}


@media screen and (max-width: 767px) and (min-width:506px){
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .market-left{
    display: none;
  }
  .market-right{
    width:100% !important;
    height: auto;
    background:#FFFFFF;
    overflow: hidden;
  }
  .market-right-t-u{
    justify-content: flex-start !important;

  }
  .tubiao-u,.tubiao-u2,.tubiao-u1{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    .tubiao-u-l1,.tubiao-u-l2,.remen,.zheXian,.remen-cont,.box{
      width:100% !important;
    }
  }


}
@media screen  and (max-width: 505px){
  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
    .header-l{
      width:100%;
      height:100%;
    }
    .header-r{
      width:100%;
      height:inherit;
      border-top:1px solid #fff;
      .header-r-u{
        display: flex;
        justify-content: flex-start;
        box-sizing: border-box;
        padding:0 5%;
        margin:0 auto;
        background:#000;
      }
    }
  }
  .market-right{
    width:100% !important;
    height: auto;
    background:#FFFFFF;
    overflow: hidden;
  }
  .market-right-t-u{
    justify-content: flex-start !important;

  }
  .market-left{
    display: none;
  }
  .market-right{
    width:100% !important;
    height: auto;
    background:#FFFFFF;
    overflow: hidden;
  }
  .market-right-t-u{
    justify-content: flex-start !important;

  }
  .tubiao-u,.tubiao-u2,.tubiao-u1{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    .tubiao-u-l1,.tubiao-u-l2,.remen,.remen-cont,.box{
      width:100% !important;
    }
  }


}























