/*--header--*/
.header{
  width:100%;
  min-height: 45px;
  background:#438eb9;
  color:#fff;
  .header-l{
    font-size: 24px;
    padding-left:15px;
    width: auto;
    height: 100%;
    .title{
      font-size: 24px;
    }
    .iconfont1{
      font-size: 24px;
    }
  }
  .header-r{
    font-size: 16px;
    width: auto;
    height: 100%;
    .header-r-u{
      width:100%;
      height: 45px;
      display: flex;
      justify-content:flex-end;
      align-items: center;
      padding-right:15px;
      li{
        min-width: 50px;
        height: 100%;
        line-height: 45px;
        padding:0 8px;
        border-right:1px solid #fff ;
        display: flex;
        justify-content: center;
        align-items: center;
        .iconfont{
          font-size: 17px !important;
        }
        span{
          display: inline-block;
          width:17px;
          height:19px;
          text-align: center;
          position: relative;
          line-height: 19px;
          font-size: 14px;
          border-radius: 50%;
          left:4px ;
        }
        .num{
          background:#a0a0a0;
        }
        .num1{
          background:#d15b47;
        }
        .num2{
          background:#82af6f;
        }

      }
      li.header-u-l1{
        background:#555555;
      }
      li.header-u-l2{
        background:#892e65;
      }
      li.header-u-l3{
        background:#2e8965;
      }
      .header-u-last{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-right:10px;
        background:#62a8d1;
        border:0;
        .header-u-last-img{
          border-radius: 100%;
          border: 2px solid #FFF;
          max-width: 40px;
          margin: -4px 8px 0 0;
        }
        .header-u-last-s{
          max-width: 100px;
          width: auto;
          display: inline-block;
          overflow: hidden;
          height:100%;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-align: left;
          vertical-align: top;
          line-height: 15px;
          border-radius: 0 !important;
          padding-top:8px;
          small{
            font-size: 85%;
          }
        }
        .header-u-last-s1{
          display: inline-block;
          width:0;
          height: 0;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-top: 7px solid #fff;
        }
      }
    }
  }
}
/*--market---*/
.market{
  width:100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  .market-left{
    width:190px;
    height: auto;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    .market-left-top{
      background-color: #fafafa;
      border-bottom: 1px solid #ddd;
      text-align: center;
      line-height: 39px;
      max-height: 41px;
      margin-bottom: 0;
      height: auto;
      .market-left-top-c{
        padding-bottom: 4px;
        button{
          width: 41px;
          line-height: 24px;
          margin-top: -2px;
          padding: 0;
          border-width: 4px;
          text-align: center;
          color:#fff;
        }
        .bu1{
          background-color: #629b58!important;
          border-color: #87b87f;
        }
        .bu2{
          background-color: #6fb3e0!important;
          border-color: #6fb3e0;
        }
        .bu3{
          background-color: #ffb752!important;
          border-color: #ffb752;
        }
        .bu4{
          background-color: #d15b47!important;
          border-color: #d15b47;
        }
      }
    }
    .market-left-u{
      width:100%;
      height: auto;
      margin:0 auto;
      background-color: #fff;
      li{
        border-bottom: 1px solid #e5e5e5;
        height: 38px;
        line-height: 36px;
        padding: 0 16px 0 7px;
        i{
          display: inline-block;
          vertical-align: middle;
          min-width: 30px;
          text-align: center;
          font-size: 20px;
          margin-right: 2px;
        }
        span{
          font-size:13px;
        }
      }
    }
    .market-left-d{
      border-bottom: 1px solid #e0e0e0;
      background-color: #f3f3f3;
      text-align: center;
      padding: 3px 0;
      position: relative;
      span{
        display: inline-block;
        cursor: pointer;
        font-size: 14px;
        color: #aaa;
        border: 1px solid #bbb;
        padding: 0 5px;
        line-height: 18px;
        border-radius: 50%;
        background-color: #fff;
      }
    }
    .market-left-d:before{
      content: "";
      display: inline-block;
      height: 0;
      border-top: 1px solid #e0e0e0;
      position: absolute;
      left: 15px;
      right: 15px;
      top: 13px;
    }
  }
  .market-right{
    width:85%;
    height: auto;
    background:#FFFFFF;
    .market-right-t{
      border-bottom: 1px solid #e5e5e5;
      background-color: #f5f5f5;
      min-height: 41px;
      padding: 0 12px 0 0;
      display: flex;
      width:100%;
      justify-content: space-between;
      align-items: center;
      .market-right-t-u{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 22px 0 12px;
        width:100%;
        li{
          padding:0 5px;
        }
        .index{
          color: #4c8fbd;
        }
      }
      .market-right-t-f{
        border: 1px solid #6fb3e0;
        width: 152px;
        height: 28px;
        border-radius: 4px;
        font-size: 13px;
        color: #666;
        z-index: 11;
        padding-left:5px;
        background:#fff;
        input{
          width:100%;
          height:100%;
          padding-left:20px;
          background:url("../images/2017-08-02_111833.png") no-repeat left center;
        }
      }
    }
    .space{
      max-height: 1px;
      min-height: 1px;
      overflow: hidden;
      margin: 12px 0;
      margin: 6px 0 5px;
    }
    .market-right-cont{
      width:100%;
      height:auto;
      margin: 0;
      padding: 8px 20px 24px;
      .market-right-main{
        width:100%;
        height:auto;
        padding-left:12px;
        padding-right:12px;
        .box{
          margin-left: 8.33333%;
          width: 83.3333%;
          padding-right: 12px;
          padding-left: 12px;
          height:auto;
          .widget-box{
            width:100%;
            height:auto;
            .widget-box-header{
              padding-left:5px;
              width:100%;
              height:50px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              border-bottom: 1px solid #ccc;
              .span1{
                line-height: 48px;
                color: #777!important;
                font-size: 22px;
                .iconfont{color: #69aa46!important;
                  font-size: 22px;}
              }
              .dayin{
                width:auto;
                height:100%;
                justify-content: space-between;
                display: flex;
                align-items: center;
                .jiQ{
                  display: inline-block;
                  padding:0 10px;
                  height:100%;
                  line-height: 49px;
                  border-left:1px solid #ccc;
                  margin-right:10px;
                }
              }
            }
            .widget-box-cont{
              width:100%;
              height:auto;
              padding:24px;
              .row{
                width:100%;
                height:auto;
                justify-content: space-between;
                display: flex;
                .row-list1{
                  width:48%;
                  height:auto;
                  .h3{
                    font-size: 13px;
                    height: 24px;
                    text-align: center;
                    position: relative;
                    background-color: #3a87ad !important;
                    color:#fff;
                  }
                  p{
                    margin-top: 9px;
                    margin-bottom: 9px;

                  }
                }
              }
              .space{
                width:100%;
                max-height: 1px;
                min-height: 1px;
                overflow: hidden;
                margin: 12px 0;
              }
              .table{
                width:100%;
                height:auto;
                border-top: 1px solid #e5e5e5;
                margin-bottom: 10px;
                table{
                  width:100%;
                  height:auto;
                  border: 1px solid #ddd;
                  text-align: center;
                  background-color: transparent;
                  border-collapse: collapse;
                  border-spacing: 0;
                  thead tr th{
                    color: #707070;
                    padding:8px;
                    line-height: 1.4;
                    border:1px solid #ccc;
                    border-top:0;
                    margin:-1px;
                  }
                  thead tr th:nth-child(2),th:nth-child(3){
                      text-align: left !important;
                  }
                  tbody tr td{
                    color: #707070;
                    padding:8px;
                    line-height: 1.4;
                    border:1px solid #ccc;
                    border-top:0;
                    margin:-1px;
                  }
                  tbody tr td:nth-child(2),td:nth-child(3){
                    text-align: left !important;
                  }
                  tbody tr:nth-of-type(odd){
                    background:#f9f9f9;
                  }
                  tbody tr td a:hover{
                    text-decoration: underline;
                  }
                }
              }
              .space1{
                width:100%;
                height:3px;
                margin:8px 0;
                border-top:1px solid #ccc;
                border-bottom: 1px solid #ccc;
              }
              .roew{
                width:100%;
                height:auto;
                display: flex;
                justify-content: space-between;
                p{
                  width:58.3%;
                  display: inline-block;
                }
                h3{
                  width:41.6%;
                  text-align: right;
                  font-size:18px;
                  margin-top: 10px;
                  margin-bottom: 10px;
                  font-weight: normal;
                  span{
                    color: #dd5a43!important;
                  }
                }
              }
              .roew1{
                min-height: 20px;
                padding: 19px;
                margin-bottom: 20px;
                background-color: #f5f5f5;
                border: 1px solid #e3e3e3;
                box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
              }
            }
          }
        }
      }
    }
  }
}
@media  screen and (min-width:992px ) {
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width:992px ) and(min-width: 768px) {
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .market-left{
    display: none;
  }
  .market-right{
    width:100% !important;
  }
}

@media screen and (max-width: 767px) and (min-width:506px){
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .market-left{
    display: none;
  }
  .market-right{
    width:100% !important;
    .market-right-cont{
      width:100%;
      .market-right-main{
        width:100%;
        .box{
          width:95% !important;
          margin:0 auto !important;
          .widget-box .widget-box-cont{
            padding:24px  0 !important;
          }
          .widget-box .widget-box-cont .row{
            display: flex;
            flex-direction:column;
            flex-wrap: wrap;
            .row-list1{
              width:100% !important;
            }
          }
          .table thead tr th:nth-child(3),tbody tr td:nth-child(3){
              display: none;
          }










        }
      }
    }
  }
}


@media screen  and (max-width: 505px){
  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
    .header-l{
      width:100%;
      height:100%;
    }
    .header-r{
      width:100%;
      height:inherit;
      border-top:1px solid #fff;
      .header-r-u{
        display: flex;
        justify-content: flex-start;
        box-sizing: border-box;
        padding:0 5%;
        margin:0 auto;
        background:#000;
        li{
          width:25%;
        }
      }
    }
  }
  .market-left{
    display: none;
  }
  .market-right{
    width:100% !important;
    .market-right-cont{
      width:100%;
      .market-right-main{
        width:100%;
        .box{
          width:95% !important;
          margin:0 auto !important;
          .widget-box .widget-box-cont{
            padding:24px  0 !important;
          }
          .widget-box .widget-box-cont .row{
            display: flex;
            flex-direction:column;
            flex-wrap: wrap;
            .row-list1{
              width:100% !important;
            }
          }
          .table thead tr th:nth-child(3),th:nth-child(4),tbody tr td:nth-child(3),td:nth-child(4){
            display: none;
          }
        }
      }
    }
    .market-right-t-f{
      display: inline-block;
      width:28px !important;
      height:26px !important;
      border:1px solid #ccc ;
      border-radius: 50%  !important;
      background:url("../images/2017-08-02_111833.png") no-repeat center center #fff !important;
      input{
        display: none;
      }
    }
  }
  .widget-box-header{
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: column !important;
    height:auto !important;
    .span1{
      width:100%;
    }
    .dayin{
      width:100%;
      .jiQ{
        border:0 !important;
        text-align: left;
      }
    }
  }



}

